/* init */
* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.goto:hover,
.go-to:hover {
  background: #a30014 !important;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
html,
body {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: #2b0e0c;
  font-family: Arial, Microsoft JhengHei, PingFang, sans-serif;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* 導覽列區 */
.navigation {
  margin-bottom: 15rem;
}

.navigation ul {
  display: flex;
  text-align: center;
}

.navigation ul li {
  width: 20%;
  position: relative;
}

.navigation ul li a {
  position: relative;

}

.navigation img{
  transition: all 0.5s;
} 

.navigation img:hover{
	transform: scale(1.4);
}
.navigation ul li a h2 {
  position: absolute;
  top: 57%;
  left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	text-align: center;
  color: 	#FF6347;
	pointer-events: none;
  font-weight: bolder;
  text-shadow: 2px 2px 10px #fff;
  /*-webkit-text-stroke: 1px	#ffffff;*/

}

.navigation ul li:nth-child(odd) {
  bottom: -10rem;
}

/* 產品區 */
.products-wrap {
  background: #35703b;
  border-radius: 90px;
  border: 10px solid #fff;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  box-shadow: 0 0 0 20px #35703b;
}

.gps, .ifind {
  padding-bottom: 1rem;
}

.limited-time,
.coupon,
.christmas-choice {
  background: url("../images/presents.png") no-repeat bottom, #35703b;
  background-size: contain;
}

.products-wrap .product-title {
  width: 50%;
  margin: 1rem auto;
}

.products-wrap .products {
  display: flex;
  flex-flow: wrap;
  padding: 0 3%;
}

.product {
  width: 18%;
  background: #ffffff;
  border-radius: 30px;
  text-align: center;
  padding: 1rem 0.4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column;
  margin-left: 1.2rem;
}

.product img {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem ;
    object-fit: contain;
    height: 60px;
    width: auto;
}

.product h4 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  color: #444444;
  line-height: 1.8rem;
}

.product ul {
  font-size: 1rem;
  text-align: center;
  line-height: 1.25rem;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  font-weight: bolder;
  color:#35703b;
}

.product .commission {
  color: #D9001B;
  font-size: 1.25rem;
  font-weight: 1000;
  margin-bottom: 1.2rem;
  margin-top: auto;
  line-height: 1.5rem;
}

.product .goto {
  margin: auto auto 0;
  font-size: 1rem;
  font-weight: 1000;
  max-width: 90%;
  line-height: 1.5rem;
  background: #d9001b;
  color: #fff;
  border-radius: 60px;
  padding: 0.4rem 1.1rem;
  text-align: center;
}

.go-to {
  width: 33%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  background: #d9001b;
  color: #fff;
  font-weight: 1000;
  border-radius: 60px;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
  margin-top: auto;
  border: 5px solid #FFF8DC;
}

/* footer區 */
footer {
  text-align: center;
}

footer img {
  display: inline-block;
  max-width: 500px;
}

/* PC版側邊導覽列 */
.aside-menu {
  position: fixed;
  right: 0;
  top: 25%;
  width: 3rem;
  background-color: #35703b;
  padding: 5px 0;
  border-radius: 10px 0 0 10px;
}

.aside-menu li a {
  color: #FFF8DC;
  font-weight: bolder;
  line-height: 20px;
  padding: 5px;
  text-align: center;
}

.aside-menu li a:hover {
  color: #FFE4B5;
}

/* 手機板下方導覽列 */
.mobile-menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgba(255, 39, 39, 0.8);
  display: none;
}

.mobile-menu ul {
  display: flex;
  margin: 0;
}

.mobile-menu ul li {
  width: 20%;
}

.mobile-menu ul li a {
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 1.6rem;
  padding: 0.8rem;
  text-align: center;
  border: 1px solid #FAEBD7;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  html{
    font-size: 12px;
  }

  .wrapper {
    width: 98%;
    margin: 0 auto;
  }

  .wrapper >img {
    margin-bottom: 2rem;
  }

  .navigation {
    display: none;
  }

  .products-wrap {
    border-radius: 20px;
  }

  .products-wrap h2 {
    font-size: 2rem;
    line-height: 70px;
  }

  .limited-time,
  .coupon,
  .christmas-choice {
    background: url("../images/mobile_present.png") no-repeat bottom, #35703b;
    background-size: contain;
  }

  .products-wrap .product-title {
    width: 75%;
  }
  
  .product img {
    width: 80%;
    margin: 0 auto 0.8rem ;
  }

  .product h4 {
    font-size: 1.35rem;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    line-height: 1.5rem;
  }

  .product ul {
    font-size: 0.5rem;
    line-height: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .product .commission {
    margin: 0.8rem auto;
  }
	
	.go-to{
    height: 80%;
    width:60%;
	}

  .product {
    width: 46%;
    margin: 2% 2%;
    border-radius: 20px;
  }

  footer {
    margin-bottom: 100px;
  }

  .aside-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
